* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family:oswald, helvetica, arial, sans-serif;
    background: url(../images/bg1.jpg),#0f2b50 center no-repeat;
    background-size:cover;
    background-attachment: fixed;
    background-position:50% 50%;
}

.contenedor {
    width: 90%;
    max-width:1000px;
    margin:auto;
}

#particles-js {
    width: 100%;
    height:100%;
    position: fixed;
    /*background:rgba(0,0,0,.8);*/
}

header {
    position: fixed;
    height: auto;
    width: 100%;
}

header .menu {
    background: #ffffff;
    overflow: hidden;
}

header .logo {
    color:#1c5782;
    float: left;
    font-size:30px;
    line-height:80px;
}
header .date{
    text-align: right;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    float: left;
}

header nav ul li a {
    color:#1c5782;
    text-decoration: none;
    display: block;
    font-size:18px;
    padding:0 20px;
    line-height:80px;
}

header nav ul li:hover {
    background:#1c5782;
    border-bottom: inset 5px solid #fff;
}

header nav ul li a:hover {
    color:#fff;
}

/* Texto Inicial */
.texto {
    padding:240px 0;
    text-align: center;
    color:#1c5782;
    position: relative;
    font-weight: 400;
}

.texto h2, .texto p {
    background: rgba(255, 255, 255, 0.8);
    display:inline-block;
    padding:10px 20px;
}

.texto h2 {
    font-size:40px;
    letter-spacing: 2.5px;
    font-weight: normal;
}

.texto p {
    font-size:20px;
    letter-spacing: 2.5px;
}

/* Principal */
.principal {
    position: relative;
    color:#000;
}

.principal article {
    padding:20px;
    background: rgba(255, 255, 255, 0.51);
    margin-bottom: 20px;
}

.principal article p {
    margin-bottom: 20px;
    line-height:24px;
    font-family:helvetica, arial, sans-serif;
}

.principal article .fecha {
    color:#939393;
}
